.venv
.vscode
.idea
.chat
.DS_Store
.iml
__pycache__

venv

devops/database/data
devops/utils/fee_export/config
devops/utils/git_update/repositories

backend/logs
backend/venv
backend/__pycache__
backend/dev_sql.db

frontend/build
frontend/node_modules
frontend/__pycache__

mkdocs/venv
mkdocs/__pycache__
mkdocs/site

.history